/.phpintel
/.otto
/.ottoid
/.vscode
/.vagrant
/.bundle
/.idea
/.grunt
/.sass-cache
.Gruntfile.js.swp
_SpecRunner.html
/node_modules
/nbproject/private/
/.buildpath
/.metadata
/.project
/.settings
/.env
/.env.apache
*.DS_Store
/*.sublime-project
*.sublime-workspace
sftp-config*.json
/.codelite
*.phprj
*.workspace
/build
/logs/*.log
/lang
/vendor
/bin/*
/phpunit.xml
!/docs/build
/coverage/
/coverage-trip/
/var/

/app/cache/*
/app/Resources/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/resources/routes.conf
/configs/features.devel.local.php
/resources/cache
console

/xml_feeds
npm-debug.log

/platforms